html
  head
    meta(property='og:title', content='Payments - Memebot')
    meta(property='og:image', content='https://i.imgur.com/xjzTjiF.gif')
    title Payments - Memebot
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script(src='https://js.stripe.com/v3/')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(href='/donations.css', type='text/css', rel='stylesheet')
  body
    .container
      .col-md-6.center-block(style='text-align: center; width: 100%;')
        h2= "Donate now " + firstName + "!"
        h4 Help the developer create new features with a cup of coffee
        img(style='max-width: 200px; width: 100%;', src='https://i.imgur.com/xjzTjiF.gif')
    form#payment-form(action='/charged', method='post')
      .form-row
        label(for='card-element')
          | Credit or debit card
        #card-element
          // A Stripe Element will be inserted here.
        // Used to display form errors.
        #card-errors(role='alert')
      button Submit $3
    script.
      var stripeKey = "#{STRIPE_API_KEY}";
      var stripe = Stripe(stripeKey);
      // Create an instance of Elements.
      var elements = stripe.elements();
      // Create an instance of the card Element.
      var card = elements.create('card');
      // Add an instance of the card Element into the `card-element` <div>.
      card.mount('#card-element');

      // Handle real-time validation errors from the card Element.
      card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
              displayError.textContent = event.error.message;
          } else {
              displayError.textContent = '';
          }
      });

      // Handle form submission.
      var form = document.getElementById('payment-form');
      form.addEventListener('submit', function(event) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
              if (result.error) {
                  // Inform the user if there was an error.
                  var errorElement = document.getElementById('card-errors');
                  errorElement.textContent = result.error.message;
              } else {
                  // Send the token to your server.
                  stripeTokenHandler(result.token);
              }
          });
      });

      function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
      }

