html
  head
    meta(property='og:title', content='Payments - Memebot')
    meta(property='og:image', content='https://i.imgur.com/xjzTjiF.gif')
    title Payments - Memebot
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script(src='https://js.stripe.com/v3/')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(href='/donations.css', type='text/css', rel='stylesheet')
  body
    .container
      .col-md-6.center-block(style='display: flex; width: 100%; flex-direction: column; align-items: center; text-align: center')
        h2= "Donate now " + firstName + "!"
        h4 Thanks for caring enough to click that button ❤️
        div(style="position: relative;")
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ben.winding%40gmail.com&item_name=Development&currency_code=AUD&source=url' rel='nofollow')
            strong#over= firstName
            img(style='max-width: 200px; width: 100%;', src='https://i.imgur.com/wj2nddm.png')
        h4 But, will you click this button ⬇️
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ben.winding%40gmail.com&item_name=Development&currency_code=AUD&source=url' rel='nofollow')
          img(src='https://camo.githubusercontent.com/f896f7d176663a1559376bb56aac4bdbbbe85ed1/68747470733a2f2f7777772e70617970616c6f626a656374732e636f6d2f656e5f55532f692f62746e2f62746e5f646f6e61746543435f4c472e676966' alt='paypal' data-canonical-src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' style='max-width:100%;')
