html
  head
    meta(property='og:title', content='Thankyou For Donating!')
    meta(property='og:image', content='https://i.imgur.com/xjzTjiF.gif')
    title Thankyou For Donating
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css', rel='stylesheet')
  body
    .container
      .col-md-6.center-block(style='text-align: center; width: 100%;')
        h2= "Thanks For Donating!"
        h4 Help the developer create new features with a cup of coffee
        img(style='max-width: 200px; width: 100%;', src='https://i.imgur.com/xjzTjiF.gif')
